table.table.table-striped.table-hover
  thead
    tr
      th.col-xs-1.text-center
        span.glyphicon.glyphicon-picture
      th.col-xs-3 Name
      th.col-xs-2 Stock
      th.col-xs-2 Categories
      th.col-xs-1 Date
      th.col-xs-2

  tbody
    each product in data.docs
      tr
        td
          img(src=product.cover).img-rounded.img-responsive
        td= product.title
        td
          if product.stock.status === 'instock' && product.stock.qty > 0
            span.text-success In Stock
          else
            span.text-muted Out of Stock
        td!= adminCategoriesList(product)
        td
          small= product.status
          br
          small= formatDate(product.createdAt)
        td
          a(href=`/admin/dashboard/products/${product._id}` title="Edit" data-toggle="tooltip").btn.btn-link.btn-sm 
            span.glyphicon.glyphicon-pencil
          a(href=`/admin/dashboard/products/${product._id}?action=delete` title="Delete" data-toggle="tooltip").btn.btn-link.btn-sm
            span.glyphicon.glyphicon-trash
          a(href="#" title="View" data-toggle="tooltip").btn.btn-link.btn-sm
            span.glyphicon.glyphicon-arrow-right